// .section{
//     background: url(../../assets/images/bg-weather.png);
//     background-repeat: no-repeat;
//     height: 100%;
//     width: 100%;
//     opacity: 1;
// }
// .placeDetails{
//     position: absolute;
//     bottom: 0;
//     left: 20%;
//     color: white;
// }

// .right {
//     position: absolute;
//     width: 30%;
//     // left: 60%;
//     right: 0;
//     backdrop-filter: blur(9.5px);
//     height: 100%;
//     border-left: 5px solid rgba(255, 255, 255, 0.14)
// }
// .insideRight {
//     padding: 10%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     height: 100%;
// }
// .detail-area {
//     color: white;
//     display: flex;
//     flex-direction: column;
//     line-height: 55px;
//     font-size: 20px;
// }
// .details {
//     display: flex;
//     gap: 25px;
// }
// .datails-value{
//     font-weight: 500;

// }


.section{
    // background-color: #444444;
    height: 100%;
    width: 100%;
}
.container {
    padding: 5%;
    // color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.insideSerach{
    width: 60%;
}

.second {
    display: flex;
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
}

.secondFirst {
        box-shadow: rgb(0 0 0 / 42%) 2.4px 2.4px 3.2px;
        padding: 2%;
        width: 30%;
        border-radius: 15px;
}

.secondSecond {
    display: flex;
    box-shadow: rgb(0 0 0 / 48%) 2.4px 2.4px 3.2px;
    padding: 2%;
    width: 65%;
    border-radius: 15px;
}

.secondThird {
    display: flex;
    // flex-wrap: wrap;
}
.Details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // padding: 2%;
}

.third {
    display: flex;
}
.thirdFirst {
    box-shadow: rgb(0 0 0 / 42%) 2.4px 2.4px 3.2px;
    width: 35%;
    border-radius: 15px;
    padding: 2%;
}
input{
    width: 100%;
    background: transparent;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.42) 2.4px 2.4px 3.2px;
    padding: 2%;
    border-radius: 15px;
    font-size: 18px;
    color: white;
}
.location{
    background-color: rgba(102, 190, 102, 0.747);
    color: white;
    border-radius: 15px;
    padding: 1%;
    border: none;
}
